<!doctype html>
<html>
  <head>
    <title>Cacophonic Choir online audio prototype</title>
  </head>
  <body>
    <h1>Cacophonic Choir online audio prototype</h1>

    <div>
      <input disabled type="range" id="randAmt" name="randAmt" min="0" max="1" step="0.05">
      <label for="randAmt">Synthesis random amount (none ↔︎ very random)</label>
    </div>
    <div>
      <input disabled type="range" id="wordLevel" name="randAmt" min="0" max="7" step="1">
      <label for="randAmt">Word level (0 ↔︎ 7)</label>
    </div>

    <div>
      <input type="range" id="distance" name="distance" min="0" max="350" step="1">
      <label for="distance">Distance (sets both random amount and word level) (0 ↔︎ 350)</label>
    </div>


    <h2>Listener position</h2>
    <div>
      <input type="range" id="listenerX" name="listenerX" min="-1" max="1" step="0.05">
      <label for="listenerX">listener X</label>
    </div>
    <div>
      <input type="range" id="listenerY" name="listenerY" min="-1" max="1" step="0.05">
      <label for="listenerY">listener Y</label>
    </div>

    <button id="play">PLAY</button>
    <button id="stop">STOP</button>
  </body>
</html>