<!doctype html>
<html>
  <head>
    <title>tone.js test</title>
  </head>
  <body>
    <h1>tone.js test!!!</h1>
    <img src="./assets/img/image.png" width="40px;">
    <br>
    <textarea id="text"></textarea>
    <br>
    <button id="play">Play something</button>
  </body>
</html>